.page,
.header,
.theme-menu__button,
.card__paragraph,
.card__icon-button,
.card__like-button,
.footer__icon-button,
.dialog,
.dialog__button {
  background-color: var(--background-color, #000);
}

.page,
.header,
.header__group,
.theme-menu__list,
.card,
.card__list,
.card__paragraph,
.button-group,
.footer__icon-button,
.dialog[open],
.dialog__title-group {
  display: flex;
}

.page,
.header,
.header__group,
.theme-menu__list,
.card,
.card__list,
.card__paragraph,
.dialog[open] {
  flex-direction: column;
}

.page,
.header,
.card,
.button-group,
.footer__icon-button {
  align-items: center;
}

.page,
.card,
.card__list {
  gap: 50px;
}

.page {
  margin-block: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  overflow: auto;

  font-family: var(--font-main, 'Inter', sans-serif);
  font-variation-settings: 'wght' var(--font-main-weight, 465);
  color: var(--color-accent, #00cc14);

  background-image: repeating-linear-gradient(
      90deg,
      var(--background-color, #000) 0,
      var(--background-color, #000) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      0deg,
      var(--background-color, #000) 0,
      var(--background-color, #000) 2px,
      transparent 2px,
      transparent 4px
    ),
    var(
      --background-gradient,
      linear-gradient(to bottom, #007f0c 0.01%, #004306 100%)
    );
  background-size: cover;
}

.header,
.card__paragraph,
.card__icon-button:focus-visible,
.card__like-button,
.footer__icon-button,
.dialog,
.dialog__button {
  border: 2px solid currentColor;
}

.header,
.card {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.header,
.button__text,
.card__watermark,
.dialog__title,
.dialog__button {
  font-family: 'PressStart2P', fantasy;
}

.header {
  block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
}

.header,
.header__group {
  gap: 20px;
}

.header__group {
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__text {
  text-align: center;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__title,
.button__text {
  line-height: 100%;
}

.header__text,
.theme-menu__button,
.text--accent {
  text-transform: uppercase;
}

.theme-menu {
  margin-inline-start: 2.5%;
}

.theme-menu__list,
.button-group {
  padding-block-end: 25px;
}

.theme-menu__list {
  gap: 8px;
  line-height: 100%;
}

.theme-menu__button,
.card__icon-button,
.card__like-button,
.card__watermark,
.footer__icon-button,
.dialog__title,
.dialog__text {
  font-size: 14px;
}

.theme-menu__button,
.card__icon-button {
  border: none;
}

.theme-menu__button,
.card__image-watermark,
.card__like-button,
.button__text,
.footer__icon-button,
.dialog__button {
  position: relative;
}

.theme-menu__button:focus,
.card__icon-button:focus,
.card__like-button:focus,
.button__text:focus,
.footer__icon-button:focus {
  outline: none;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before,
.card__watermark,
.button--accent::before {
  position: absolute;
}

.theme-menu__button:focus-visible::after,
.card__image,
.button--accent::before {
  inline-size: 100%;
}

.card {
  margin-block-start: 50px;
}

.card__paragraph {
  overflow: hidden;
}

.card__title,
.card__text,
.dialog {
  font-size: 18px;
  line-height: 116%;
}

.card__title {
  padding: 3px 10px;

  font-variation-settings: 'wght' var(--font-main-weight-accent, 785);
  line-height: 122.2%;

  border-bottom: 2px solid currentColor;
}

.card__image-watermark {
  z-index: 0;
}

.card__watermark,
.card__like-button,
.button__text,
.dialog {
  z-index: 1;
}

.card__watermark {
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, -0.0637rem + 3.7383vw, 1.5625rem);

  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--color_shadow, #000), 0 1px var(--color_shadow, #000),
    1px 0 var(--color_shadow, #000), 0 -1px var(--color_shadow, #000);

  opacity: 50%;
}

.card__image-blur {
  filter: grayscale(20%) brightness(140%) blur(5px);
}

.card__image-sepia {
  filter: saturate(140%) sepia(70%);
}

.card__image-invert {
  filter: invert(100%);
}

.card__image-gradient {
  background: repeating-radial-gradient(
      circle at top left,
      #f00,
      #f00 4em,
      transparent 4em,
      transparent 15em
    ),
    repeating-radial-gradient(
      circle at top right,
      #0f0,
      #0f0 4em,
      transparent 4em,
      transparent 15em
    ),
    repeating-radial-gradient(
      circle at bottom right,
      #ff0,
      #ff0 4em,
      transparent 4em,
      transparent 15em
    ),
    repeating-radial-gradient(
      circle at bottom left,
      #00f,
      #00f 4em,
      transparent 4em,
      transparent 15em
    ),
    #fff;

  background-blend-mode: difference;
}

.card__image-opacity {
  filter: opacity(70%);
}

.card__image-grayscale {
  filter: grayscale(40%)
    drop-shadow(-40px -40px 10px var(--color-accent, #00cc14))
    drop-shadow(-40px -15px 10px #ff1493);
}

.card__image-brightness {
  filter: brightness(40%) contrast(105%);
}

.card__image-saturate {
  filter: saturate(110%);
}

.card__text {
  padding: 25px 25px 0;
}

.card__text-accent {
  font-style: italic;
}

.button-group {
  align-self: flex-end;

  margin-block-start: 25px;
  padding-inline-end: 25px;
}

.button__text,
.footer__icon-button {
  text-align: center;
}

.button__text,
.footer__icon {
  color: var(--color-text-button, #00cc14);

  mix-blend-mode: difference;
}

.footer__icon {
  inline-size: 21px;
  block-size: 21px;
}

.footer__icon-button {
  gap: 8px;

  margin-inline: 34.5px;
  padding: 12.5px 16px;
}

.dialog {
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  padding: 30px;

  color: var(--color-accent, #00cc14);
}

.dialog[open] {
  row-gap: 30px;
}

.dialog::backdrop {
  background-color: #000000bf;
}

.dialog__title-group {
  column-gap: 20px;
}

.dialog__icon {
  width: 80px;
  height: 100%;

  align-self: center;
}

.dialog__title {
  font-weight: 400;
  line-height: 150%;
  text-align: start;

  align-self: start;
}

.dialog__button {
  padding-block: 10px;
}

@media (width < 376px) {
  .footer__icon-button {
    flex-direction: column;
  }

  .footer__icon {
    inline-size: 28px;
    block-size: 28px;
  }
}
