/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* * {
  border: 1px solid red;
} */

.page,
.header,
.card__paragraph,
.footer__icon-button,
.dialog {
  background-color: var(--background-color, #000);
}

.page,
.header,
.theme-menu__list,
.card,
.card__list,
.card__paragraph,
.button-group {
  display: flex;
}

.page,
.header,
.theme-menu__list,
.card,
.card__list,
.card__paragraph {
  flex-direction: column;
}

.page,
.header,
.card,
.button-group {
  align-items: center;
}

.page,
.card__list {
  gap: 50px;
}

.page {
  margin-block: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  overflow: auto;

  font-family: var(--font-main, "Inter", sans-serif);
  font-variation-settings: "wght" var(--font-main-weight, 465);
  color: var(--color-accent, #00cc14);

  background-image: repeating-linear-gradient(
      90deg,
      var(--background-color, #000) 0,
      var(--background-color, #000) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      0deg,
      var(--background-color, #000) 0,
      var(--background-color, #000) 2px,
      transparent 2px,
      transparent 4px
    ),
    var(
      --background-gradient,
      linear-gradient(to bottom, #007f0c 0.01%, #004306 100%)
    );
  background-size: cover;
}

.header,
.card__paragraph,
.card__icon-button:focus-visible,
.card__like-button,
.footer__icon-button,
.dialog,
.dialog__button {
  border: 2px solid currentColor;
}

.header,
.card {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.header,
.button__text,
.card__watermark,
.dialog__title,
.dialog__button {
  font-family: "PressStart2P", fantasy;
}

.header {
  justify-content: flex-end;
  gap: 25px;

  block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
}

.header__logo-group__title,
.button__text {
  line-height: 90%;
}

.header__logo-group__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.theme-menu__button,
.text--accent {
  text-transform: uppercase;
}

.header__logo-group__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu {
  margin-inline-start: 2.5%;
}

.theme-menu__list,
.button-group {
  padding-block-end: 25px;
}

.theme-menu__list {
  gap: 10px;
}

.theme-menu__button,
.card__icon-button,
.card__like-button,
.card__watermark {
  font-size: 14px;
}

.theme-menu__button,
.card__icon-button {
  border: none;
}

.theme-menu__button,
.card__icon-button,
.card__like-button,
.dialog__button {
  background-color: transparent;
}

.theme-menu__button,
.card__image-watermark,
.card__like-button,
.button__text,
.footer__icon-button {
  position: relative;
}

.theme-menu__button {
  transition: color 0.5s;
}

.theme-menu__button:focus,
.theme-menu__button:hover,
.theme-menu__button:disabled,
.theme-menu__button:focus-visible {
  transition: 0.5s ease-in-out;
  opacity: 60%;
}

.theme-menu__button:focus,
.card__icon-button:focus,
.card__like-button:focus,
.button__text:focus,
.footer__icon-button:focus {
  outline: none;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before,
.card__watermark,
.button--accent::before {
  position: absolute;
}

.theme-menu__button:disabled::before {
  content: "▶";

  inset-inline-start: -10px;

  animation-name: active;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

.theme-menu__button::after {
  content: "";

  display: block;

  inline-size: 0%;
  block-size: 2px;
  margin-top: 3px;

  background-color: currentColor;

  transition: inline-size 0.5s;
}

.theme-menu__button:focus-visible::after,
.card__image,
.button--accent::before {
  inline-size: 100%;
}

.card {
  margin-block-start: 50px;
}

.card__paragraph {
  overflow: hidden;
}

.card__title,
.card__text {
  font-size: 18px;
}

.card__title {
  padding: 3px 10px;

  font-variation-settings: "wght" var(--font-main-weight-accent, 785);
  line-height: 122.2%;

  border-bottom: 2px solid currentColor;
}

.card__image-watermark {
  z-index: 0;
}

.card__watermark,
.card__like-button,
.button__text {
  z-index: 1;
}

.card__watermark {
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, -0.0637rem + 3.7383vw, 1.5625rem);

  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--background-color, #000),
    0 1px var(--background-color, #000), 1px 0 var(--background-color, #000),
    0 -1px var(--background-color, #000);

  opacity: 50%;
}

@supports (
  (text-stroke: 1px var(--background-color, #000)) or
    (-webkit-text-stroke: 1px var(--background-color, #000))
) {
  p {
    -webkit-text-stroke: 1px var(--background-color, #000);
    text-stroke: 1px var(--background-color, #000);
    text-shadow: none;
  }
}

.card__image-blur {
  filter: grayscale(20%) brightness(140%) blur(5px);
}

.card__image-sepia {
  filter: saturate(140%) sepia(70%);
}

.card__image-invert {
  filter: invert(100%);
}

.card__image-gradient {
  background: repeating-radial-gradient(
      circle at top left,
      #f00,
      #f00 4em,
      transparent 4em,
      transparent 15em
    ),
    repeating-radial-gradient(
      circle at top right,
      #0f0,
      #0f0 4em,
      transparent 4em,
      transparent 15em
    ),
    repeating-radial-gradient(
      circle at bottom right,
      #ff0,
      #ff0 4em,
      transparent 4em,
      transparent 15em
    ),
    repeating-radial-gradient(
      circle at bottom left,
      #00f,
      #00f 4em,
      transparent 4em,
      transparent 15em
    ),
    #fff;

  background-blend-mode: difference;
}

.card__image-opacity {
  filter: opacity(70%);
}

.card__image-grayscale {
  filter: grayscale(40%)
    drop-shadow(-40px -40px 10px var(--color-accent, #00cc14))
    drop-shadow(-40px -15px 10px #ff1493);
}

.card__image-brightness {
  filter: brightness(40%) contrast(105%);
}

.card__image-saturate {
  filter: saturate(110%);
}

.card__text {
  padding: 25px 25px 0;
}

.card__text-accent {
  font-style: italic;
}

.button-group {
  align-self: flex-end;
  gap: 12px;

  margin-block-start: 25px;
  padding-inline-end: 25px;
}

.button__text {
  text-align: center;
}

.button__text,
.footer__icon{
  color: var(--color-button, #fff);
  mix-blend-mode: difference;
}

.footer__icon-button {
  text-align: center;
  margin-block-start: 52px;
}

.footer__icon {
  inline-size: 21px;
  block-size: 21px;

  margin-inline-end: 8px;
}

.footer__icon-button {
  margin-inline: 34.5px;
  padding: 18.5px 21px;
}

.dialog {
  position: fixed;
  z-index: 1;
  inset-block-end: 50%;
  max-inline-size: 353px;
  color: var(--color-accent, #00cc14);
  padding: 30px;
  
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.dialog::backdrop {
  background-color: #000000bf;
}

.dialog__title-group {
  display: flex;
  column-gap: 20px;
}

.dialog__icon {
  align-self: center;
  justify-self: center;
  width: 79px;
  height: 100%;
}

.dialog__title {
  display: block;
  align-self: start;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-align: start;
}

.dialog__button {
  justify-self: flex-start;
  padding-block: 12.5px;
}
