/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* * {
  border: 1px solid red;
} */

.page,
.header,
.content__paragraph,
.footer__icon-button {
  background-color: var(--background-color, #000);
}

.page,
.header,
.theme-menu__list,
.content__list,
.content__paragraph,
.card__icon-button {
  display: flex;
}

.page,
.header,
.theme-menu__list,
.content__list,
.content__paragraph {
  flex-direction: column;
}

.page,
.header,
.card__icon-button {
  align-items: center;
}

.page {
  gap: 50px;

  margin-block: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  overflow: auto;

  font-family: var(--font-main, "Inter", sans-serif);
  font-variation-settings: "wght" var(--font-main-weight, 465);
  color: var(--color-accent, #00cc14);

  background-image: repeating-linear-gradient(
      90deg,
      var(--background-color, #000) 0,
      var(--background-color, #000) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      0deg,
      var(--background-color, #000) 0,
      var(--background-color, #000) 2px,
      transparent 2px,
      transparent 4px
    ),
    var(
      --background-gradient,
      linear-gradient(to bottom, #007f0c 0.01%, #004306 100%)
    );
  background-size: cover;
}

.header,
.content__paragraph,
.card__like-button,
.footer__icon-button {
  border: 2px solid currentColor;
}

.header,
.content {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.header,
.button__text {
  font-family: "PressStart2P";
}

.header {
  justify-content: flex-end;
  gap: 25px;

  block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
}

.header__logo-group__title,
.button__text {
  line-height: 90%;
}

.header__logo-group__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__logo-group__text,
.theme-menu__button {
  text-transform: uppercase;
}

.header__logo-group__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu {
  margin-inline-start: 5%;
}

.theme-menu__list,
.card__icon-button {
  padding-block-end: 25px;
}

.theme-menu__list {
  gap: 10px;
}

.theme-menu__button,
.card__icon-button,
.card__like-button {
  font-size: 14px;
}

.theme-menu__button,
.card__icon-button {
  background-color: transparent;
  border: none;
}

.theme-menu__button {
  position: relative;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:hover,
.theme-menu__button:disabled {
  opacity: 60%;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -6px;
}

.content {
  margin-block-start: 50px;
}

.content__list {
  gap: 50px;
}

.content__paragraph {
  overflow: hidden;
}

.content__title,
.content__text {
  font-size: 18px;
}

.content__title {
  padding: 3px 10px;

  font-variation-settings: "wght" var(--font-main-weight-accent, 785);
  line-height: 122.2%;

  border-bottom: 2px solid currentColor;
}

.content__image {
  inline-size: 100%;
}

.content__image-blur {
  filter: grayscale(20%) brightness(140%) blur(5px);
}

.content__image-sepia {
  filter: saturate(140%) sepia(70%);
}

.content__image-invert {
  filter: invert(100%);
}

.content__image-gradient {
  background: repeating-radial-gradient(
      circle at top left,
      #f00,
      #f00 4em,
      transparent 4em,
      transparent 15em
    ),
    repeating-radial-gradient(
      circle at top right,
      #0f0,
      #0f0 4em,
      transparent 4em,
      transparent 15em
    ),
    repeating-radial-gradient(
      circle at bottom right,
      #ff0,
      #ff0 4em,
      transparent 4em,
      transparent 15em
    ),
    repeating-radial-gradient(
      circle at bottom left,
      #00f,
      #00f 4em,
      transparent 4em,
      transparent 15em
    ),
    #fff;

  background-blend-mode: difference;
}

.content__image-opacity {
  filter: opacity(70%);
}

.content__image-grayscale {
 filter: grayscale(40%)  drop-shadow(-40px -40px 10px var(--color-accent, #00cc14)) drop-shadow(-40px -15px 10px #FF1493);
}

.content__image-brightness {
  filter: brightness(40%) contrast(105%);
}

.content__image-saturate {
  filter: saturate(110%);
}

.content__text {
  padding: 25px 25px 0;
}

.content__text-accent {
  font-style: italic;
}

.card__icon-button {
  align-self: flex-end;
  gap: 12px;

  margin-block-start: 25px;
  padding-inline-end: 25px;
}

.card__like-button {
  padding: 12.5px 37px;
}

.footer__icon {
  inline-size: 21px;
  block-size: 21px;
  margin-inline-end: 8px;
}

.footer__icon-button {
  padding: 18.5px 21px;
  margin-inline: 34.5px;
}
