:root.theme-dark {
  --font-main-weight: 465;
  --font-main-weight-accent: 785;

  --color-accent: #00cc14;
  --color-button: #00cc14;
  --color_shadow: #000;

  --background-color: #000;
  --background-gradient: linear-gradient(
    to bottom,
    #007f0c 0.01%,
    #004306 100%
  );
}
:root.theme-light {
  --font-main-weight: 400;
  --font-main-weight-accent: 700;

  --color-accent: #000;
  --color-button: #000;
  --color-text-button: #d3d3d3;
  --color_shadow: #d3d3d3;

  --background-color: #d3d3d3;
  --background-gradient: linear-gradient(
    to bottom,
    #e7e7e7 0.01%,
    #1a1a1a 100%
  );
}

@media (prefers-color-scheme: light) {
  :root {
    --font-main-weight: 400;
    --font-main-weight-accent: 700;

    --color-accent: #000;
    --color-button: #000;
    --color-text-button: #d3d3d3;
    --color_shadow: #d3d3d3;

    --background-color: #d3d3d3;
    --background-gradient: linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
  }
}
